@model G_Inventory.Models.Product
@{
    ViewBag.Title = "Index";
    ViewBag.inventory = "active";

}


<div class="container-fluid  dashboard-content">
    <!---------------------------------------------------------->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Inventory Managment</h2>
            </div>
        </div>
    </div>
    <!---------------------------------------------------------->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
        <div class="tab-regular">
            <ul class="nav nav-tabs " id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="productList-tab" data-toggle="tab" href="#productList" role="tab" aria-controls="productList" aria-selected="true">Products View</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="stockAdjust-tab" data-toggle="tab" href="#stockAdjust" role="tab" aria-controls="stockAdjust" aria-selected="false">Stock Adjustment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pricing-tab" data-toggle="tab" href="#pricing" role="tab" aria-controls="pricing" aria-selected="false">Pricing</a>
                </li>
            </ul>
            <!---------------------------------------------------------->
            <div class="tab-content" id="myTabContent">
                <!---------------------------------------------------------->
                <div class="tab-pane fade show active" id="productList" role="tabpanel" aria-labelledby="productList-tab">
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- basic table  -->
                        <!-- ============================================================== -->

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >

                            <div class="card-body">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddProductModal">
                                    <i class="fas fas-fw fa-plus"></i> Add Product
                                </button>

                                <br />
                                <div class="table-responsive" style="margin-top:10px;">
                                    <table id="productsTable" class="table table-striped table-bordered first">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Category</th>
                                                <th>Quantity</th>
                                                <th>Cost</th>
                                                <th>Price</th>
                                                <th>Notes</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.productList)
                                            {
                                                <tr>
                                                    <td>@item.ProductID</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Category.Name</td>
                                                    <td>@item.Qty</td>
                                                    <td>@item.Cost</td>
                                                    <td>@item.Price</td>
                                                    <td>@item.Notes</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end basic table  -->
                        <!-- ============================================================== -->
                    </div>
                </div>
                <!---------------------------------------------------------->
                <div class="tab-pane fade" id="stockAdjust" role="tabpanel" aria-labelledby="stockAdjust-tab">
                    <h3>Tab Content Heading</h3>
                    <p>Nullam et tellus ac ligula condimentum sodales. Aenean tincidunt viverra suscipit. Maecenas id molestie est, a commodo nisi. Quisque fringilla turpis nec elit eleifend vestibulum. Aliquam sed purus in odio ullamcorper congue consectetur in neque. Aenean sem ex, tempor et auctor sed, congue id neque. </p>
                </div>
                <!---------------------------------------------------------->
                <div class="tab-pane fade" id="pricing" role="tabpanel" aria-labelledby="pricing-tab">
                    <h3>Tab Heading Content </h3>
                    <p>Vivamus pellentesque vestibulum lectus vitae auctor. Maecenas eu sodales arcu. Fusce lobortis, libero ac cursus feugiat, nibh ex ultricies tortor, id dictum massa nisl ac nisi. Fusce a eros pellentesque, ultricies urna nec, consectetur dolor. Nam dapibus scelerisque risus, a commodo mi tempus eu.</p>
                </div>
                <!---------------------------------------------------------->
            </div>
            <!---------------------------------------------------------->
        </div>
    </div>
    <!---------------------------------------------------------->
</div><!--container-fluid  dashboard-content end-->
<!------------Modal Section start------------>
<!-- Modal -->
<div class="modal fade" id="AddProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Add Product</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--======================================================================================================-->
                <form id="addProductForm">
                    <!--////////////////////////////////////////////////////////////////////////////////////////////////-->
                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" class="form-control" name="pName" id="productName" placeholder="Enter Product Name">
                    </div>
                    <!--////////////////////////////////////////////////////////////////////////////////////////////////-->
                    <div class="form-group">
                        <label>Category</label>
                        <select class="form-control" name="pCategory" id="productCategory">
                            @foreach (var category in ViewBag.categoryList)
                            {
                                <option value="@category.CategoryID">@category.Name</option>
                            }
                        </select>
                    </div>
                    <!--////////////////////////////////////////////////////////////////////////////////////////////////-->
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="text" class="form-control" name="pQuantity" id="productQuantity">
                    </div>
                    <!--////////////////////////////////////////////////////////////////////////////////////////////////-->
                    <div class="form-group">
                        <label>Cost</label>
                        <input type="text" class="form-control" name="pCost" id="productCost">
                    </div>
                    <!--////////////////////////////////////////////////////////////////////////////////////////////////-->
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" name="pPrice" id="productPrice">
                    </div>
                    <!--////////////////////////////////////////////////////////////////////////////////////////////////-->
                    <div class="modal-footer">
                        <button type="button" id="submitBtn" class="btn btn-primary">Save Product</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
                <!--======================================================================================================-->
            </div>
        </div>
    </div>
</div>
<!-------------Modal Section end------------->
<!--Scripts Section-->
<script src="~/Content/myScripts/inventoryJS.js"></script>